<style type="text/css">

    /* Set background colour */
    body { background: rgb(248,248,250) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

    /* search bar css */
    #search {
        background: white;
        width: 70% !important;
    }

    #width {
        width: 100% !important;
    }

    /* Set html css */
    html, body {
    height: 100%;
    margin: 0;
    }

	.jumbotron {
		padding-top: 10px !important;
		padding-bottom: 0px !important;
	}

    /* Set height of view */
    .fill { 
        min-height: 100% !important;
        height: 100% !important;
    }

    /* Set border properties */
    #blueBorder { 
        height:30% !important;
        width:100% !important;
        background: rgb(49,201,233);
        
    }

    /* Set card width */
    #card {
        width: 65% !important;
        height: 15% !important;
    }

    /* Set image CSS */
    #image {
        width: 30% !important;
        height: 30% !important;
    }

    /* Set image scaling */
    .image_scale {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }


</style>

{% extends "layout.html" %}

{% block content %}
<main>
<!-- Create Search Feild -->
<div class = "row" >
</div>
<div class="container-fluid">
    <div class="d-flex align-items-center mx-auto jumbotron card shadow-lg rounded-corner" id="search">
        <h1 class="text-center text-dark font-weight-lighter">Search Brands or Shoes</h1>
        <div class="d-flex justify-content-center">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col">
                        <fieldset class="form-group">
                        {% if form.search.errors %}
                            {{ form.search(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.search(class="form-control form-control-lg") }}
                        {% endif %}
                        </fieldset>
                    </div> 
                    <div class="col">
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>        
    </div>

        <!-- Section for popular shoes -->
        <div class="card-colums mx-auto" id="card">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <h3 class="text-left text-dark font-weight-bold">Recent Shoes</h3>
                </div>
            </div>
    		<div class="wrapper">
            {% for shoe in recent_shoes %}
                <a class="card" href="{{ url_for('main.details', shoe_id=shoe.id) }}">
                    <div class="card-body">
                        <div class="row">
                            <img class= "col-sm-3 img-responsive image_scale" src="{{ url_for('static', filename='img/' + shoe.image_file) }}" alt="{{shoe.name}}" style="object-fit: scale-down;">
                            <div class="d-flex align-items-center col-sm-8">
                                <div class="container-fluid">
                                        <h5 class="text-left text-dark font-weight-bold">{{shoe.name}}</h5>
                                        <h5 class="text-left text-dark font-weight-bold">${{shoe.price}}</h5>
                                </div>
                            </div>
                            <img class="col-sm-1" src="{{ url_for('static', filename='img/next.png') }}" alt="Next" style="object-fit: scale-down;">
                        </div>
                    </div>
                </a> 
            {% endfor %}
    		</div>
        </div>
    </div>
<br>
</main>
{% endblock content %}

